<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
	<%= f.label :name %><br/>
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :email %><br/>
	<%= f.text_field :email %>
</div>
<div class="field">
	<%= f.label :password %><br/>
	<%= f.password_field :password %>
</div>
<div class="field">
	<%= f.label :password_confirmation, "Confirm" %><br/>
	<%= f.password_field :password_confirmation %>
</div>
<div class="field">
	<%= f.label :staff_id, 'Peoplesoft Staff ID' %><br/>
	<%= f.text_field :staff_id %>
</div>
<div class="field">
	<%= f.label :city %><br/>
	<%= f.text_field :city %>
</div>
<div class="field">
	<%= f.label :phone %><br/>
	<%= f.text_field :phone %>
</div>
<div class="field">
	<%= f.label :phone_alt %><br/>
	<%= f.text_field :phone_alt %>
</div>
<div class="field">
	<%= f.label :conference_line %><br/>
	<%= f.text_field :conference_line %>
</div>
<div class="field">
	<%= f.label :webex_details %><br/>
	<%= f.text_field :webex_details %>
</div>
<div class="field">
    <%= f.label :MBTI, 'MBTI' %> <br/>
	<%= f.text_field :MBTI %>
</div>