
<tr>
	  <% if(Attendee.count(:conditions => ["event_id = ? and user_id = ?", event.id, current_user.id]) >= 1) %>
	
	    <% @user = User.find(current_user.id) %>
	
	    <% @ev   = Event.find(event.id) %>
	
	    <% if(@user.voted_for? @ev ) %>
	
	      <td>
	        <%= button_to "Remove Vote", { 	            :controller => :attendees, 
														:action => "remove_vote", :id => event.id } %>
		  </td>
		
	    <% else %>
	  	  
	      <td>
	        <%= button_to "+1", { 	            :controller => :attendees, 
													:action => "add_vote", :id => event.id } %>
		  </td>
		
	    <% end %>
	
	  <% else %>
	
	  <td></td>
		
	  <% end %>
	
	<td>
	  <%= event.created_at.strftime('%d/%m/%Y %H:%M (%Z)') %>
	</td>
	<td>
	  <%= link_to event.title, event_path(:id => event.id) %>
	</td>
	
	<td>
	  <% if event.content.blank? %>
	    --
	  <% else %>
	    <%= event.content %>
	  <% end %>
	</td>
	
	<td>
	  <% if event.session_datetime.blank? %>
	    N/A
	  <% else %>
	    <%= event.session_datetime.strftime('%d/%m/%Y %H:%M (%Z)') %>
	  <% end %>
	</td>
	
	<td>  
	  <%= event.duration %> mins.
	</td>
	
	<td>
	  <%  if event.status_id.blank? %>
	    N/A
	  <% else %>
	    <% @status = Status.find(event.status_id) %>
	    <%= @status.status_name %>
	  <% end %>
	</td>
	
	<td>
	  <%  if event.timezone_id.blank? %>
	    N/A
	  <% else %>
	    <% @tz = Timezone.find(event.timezone_id) %>
	    <%= @tz.timezone_name %>
	  <% end %>
	</td>


	<td>
	  <%  if event.channel_id.blank? %>
	    N/A
	  <% else %>
	    <% @ch = Channel.find(event.channel_id) %>
	    <%= @ch.channel_name %>
	  <% end %>
	</td>
	
	<td>
	  <%  if event.size_id.blank? %>
	    N/A
	  <% else %>
	    <% @sz = Size.find(event.size_id) %>
	    <%= @sz.size_name %>
	  <% end %>
	</td>

</tr>

