<h1>All Events</h1>
<%= link_to "Create Event!", new_event_path %>
<p>
	
</p>

<%= form_tag("/tagsearch_results", :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<%= will_paginate %> 
<%= render 'eventlist_header' %>
<%= render @events %>
</table>
</ul>
<%= will_paginate %> 
