<% if signed_in? %>

  <table class="front" summary="For Signed-In Users">
	<tr>
		<td class="main">
		  <h3>Latest Events Posted!</h3>
		  <%= render 'pages/event_scroll', :collection => @scroller %>
		  <br/>
		  <h3 class="micropost">What's Cookin' Cognito?:</h3>
		  <%= render 'shared/micropost_form'%>

		  <h3>Buzz from the Cognitosphere!</h3>
		  <%= render 'shared/feed'%>
	    </td>
		<td class = "sidebar round">
			<%= render 'shared/user_info' %>
			<%= render 'shared/stats' %>
		</td>
	</tr>
  </table>

<% else %>

<h1>Cognito Prototype</h1>
<p>This is the home page for the Cognito Application</p>

		<% if signed_in? %>
			
		<% else %>
		  <%= link_to "Sign Up Now!", signup_path, :class => "signup_button round" %>
		<% end %>
		
<% end %>