<!DOCTYPE html>
<head>
	<title>Cognito: <%= title %></title>	
	<%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>

</head>
<body>
	<div = "container">
		<%= render 'layouts/header' %>
		<section><%= yield %></section>
		<%= render 'layouts/footer' %>
	</div>

</body>
</html>